<header class="navbar navbar-expand navbar-dark flex-column flex-md-row navbar-sticky navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Developers Today</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'jobs:job-list' %}">Последние вакансии <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'organizations:organization-list' %}">Организации</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="btn btn-danger">Выйти</a></li>
                    <li class="nav-item"> <a href="{% url 'accounts:user-detail' %}" class="nav-link">Кабинет</a></li>
                    {% else %}
                    <li class="nav-item mr-4"><a href="{% url 'accounts:registration' %}" class="btn btn-primary">Создать аккаунт</a></li>
                    <li class="nav-item"><a href="{% url 'accounts:login' %}" class="btn btn-primary">Войти</a></li>
                    {% endif %}

            </ul>

        </div>
    </div>
</header>