{% extends 'base.html' %}


{% block title %}
    Последние вакансии
{% endblock %}

{% block content %}
    <div class="spacer mt-5"></div>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="offset-md-8 col-md-4 text-right">
                    <a href="{% url 'jobs:job-create' %}" class="btn btn-outline-success">Добавить вакансию</a>
                </div>
            </div>
        <div class="spacer mt-3"></div>
            <div class="row">
                {% for job in jobs %}
                    <div class="col-md-12 jobs mb-3 bg-light border border-secondary">
                        <a href="{{ job.get_absolute_url }}" class="job-item p-1">
                            <div class="row">
                                <div class="col-md-3 job-item-company">
                                    <span class="text-secondary">Компания</span>
                                    <p class="font-weight-bold">{{ job.organization.name }}</p>
                                </div>
                                <div class="col-md-3 job-item-company">
                                    <span class="text-secondary">Позиция</span>
                                    <p class="font-weight-bold">{{ job.job_position }}</p>
                                </div>
                                <div class="col-md-3 job-item-salary">
                                    <span class="text-secondary">Оклад</span>
                                    {% if job.get_salary_info %}
                                        <p class="font-weight-bold">{{ job.get_salary_info }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 job-item-salary">
                                    <span class="text-secondary">Тип</span>
                                    <p class="font-weight-bold">{{ job.get_type_display }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <div class="col-md-12">
                        {% include 'includes/empty_list.html' %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock content %}